{% extends 'wrapper.html' %}


{% block title %}Pick{% endblock %}

{% block header %}
  <p class="flow-text"><strong>Which title sounds better?</strong></p>
{% endblock %}

{% block content %}
  <div class="row">
    {% for title in titles %}
      <div class="col s12 m6">
        <form action="{% url 'titles:picked' %}" method="post"
        class="inline-block pick">
          {% csrf_token %}

          <input type="hidden" name="picked" value="{{ title.id }}">

          <input type="submit" value="{{ title.text }}"
          class="black-text card-panel white pick">
        </form>
      </div>
    {% endfor %}
  </div>
{% endblock %}
